<template>
  <div class="row">
    <div class="col-md-4">
        <h1>Actor: {{actor}}</h1>
    </div>      
  </div>
</template>
<script>
export default {
        name: "Actor",
    
        data() {
            return {
                
            }
        },
        created:function(){
            this.$store.dispatch('getActor',this.$route.params.id);
        },
        methods:{
          
        },
        computed:{
            actor(){
                return this.$store.state.ActorStore.actor;
            },
        }
    }
</script>