<template>
  <div class="row">
    <div class="col-md-4" v-for="(peli, num ) in peliculas" :key="num">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" @click="verPelicula(peli.url)">Ver pelicula</a>
            </div>
            <small class="text-muted">{{peli.title}}</small>
          </div>
        </div>
      </div>
    </div>      
  </div>
</template>

<script>

export default {
        name: "Peliculas",
    
        data() {
            return {
                
            }
        },
        created:function(){
            this.$store.dispatch('getPeliculas');
        },
        methods:{
          verPelicula(url){
            console.log(url)
            let id_list = url.split("/");
            console.log(id_list[5])
            window.location.href = "/pelicula/"+id_list[5];
          }
        },
        computed:{
            peliculas(){
                return this.$store.state.PeliculaStore.peliculas;
            },
        }
}

</script>