<template>
  <div class="row">
    <div class="col-md-12">
        <h1><b>Pelicula:</b> {{pelicula.title}}</h1>
        <h1><b>Episodio:</b> {{pelicula.episode_id}}</h1>
        <h1><b>Apertura:</b> {{pelicula.opening_crawl}}</h1>
        <h1><b>Director:</b> {{pelicula.director}}</h1>
        <h1><b>Productor:</b> {{pelicula.producer}}</h1>
        <h1><b>Fecha de Lanzamiento:</b> {{pelicula.release_date}}</h1>
        
    </div>      
  </div>
</template>

<script>

export default {
        name: "Pelicula",
    
        data() {
            return {
                
            }
        },
        created:function(){
            this.$store.dispatch('getPelicula',this.$route.params.id);
        },
        methods:{
          
        },
        computed:{
            pelicula(){
                return this.$store.state.PeliculaStore.pelicula;
            },
        }
}

</script>