<template>
  <div id="app">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Star Wars</h1>
        
        <p>
          <router-link to="/">Peliculas</router-link> |
          <router-link to="/actor">Actores</router-link>
        </p>
      </div>
    </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <router-view/>  
    </div>
  </div>

  </div>
</template>
